{% extends 'templates/default.twig' %}

{% block scripts %}
<script type="text/javascript" src="{{ url.base }}/js/auth/register.js"></script>
<script type="text/javascript" src="{{ url.base }}/js/zxcvbn.js"></script>
<script type="text/javascript" src="{{ url.base }}/js/jquery.alterclass.js"></script>
{% endblock %}

{% block content %}
<form class="form-signin doPost" method="POST" action="{{ urlFor('auth.register.post') }}">
    <h2 class="form-signin-heading">Registration</h2>
    <div class="form-group">
        <label for="email" class="sr-only">Email <span style="color: red;">*</span></label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
    </div>
    <div class="form-group">
        <label for="user" class="sr-only">Username <span style="color: red;">*</span></label>
        <input type="text" id="user" name="user" class="form-control" placeholder="Username" required max="20" min="1">
    </div>
    <div class="form-group">
        <label for="FirstName" class="sr-only">First Name</label>
        <input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="LastName" class="sr-only">Last Name</label>
        <input type="text" id="LastName" name="LastName" class="form-control" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="password" class="sr-only">Password <span style="color: red;">*</span></label>
        <input type="password" id="password" name="password" class="form-control metre" placeholder="Password" required>
    </div>
    <div class="form-group">
        <label for="passwordMatch" class="sr-only">Password Verify<span style="color: red;">*</span></label>
        <input type="password" id="passwordMatch" name="passwordMatch" class="form-control" placeholder="Password Verify" required>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
</form>
<div class="container" style="display: none;" id="modalContainer">

<!-- Modal -->
<div class="modal fade" id="successModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" style="padding:40px 50px;">
            <h2 class="green">Success</h2>
            <div class="body">
                <span class="glyphicon glyphicon-ok" style="color: forestgreen;"></span><p id="successtext" style="color: forestgreen;">User registered successfully!</p>
                <p id="successtext" style="color: forestgreen;">Check your email to activate your account</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{#{% block styles %}
<link href="{{ url.base }}/css/auth/register.css" type="text/css" rel="stylesheet">
{% endblock %}#}
