{% extends 'templates/default.twig' %}

{% block title %}Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/css/theme.bootstrap.min.css" type="text/css">
{% endblock %}

{% block content %}
<div class="container-main" data-content-url="{{ urlFor('app.datatable') }}">
    <h1 data-response-url="{{ url.base }}/img/beforeSend.svg" data-success-url="{{ url.base }}/img/success.svg" class="main-header">Hello</h1>
    <p class="lead">This page is starting page for the ASAP Scouting App</p>
</div>
<div class="col-lg-6 container-hold" style="display: none;" id="replaceDiv"></div>
<div class="col-lg-6 container-hold" style="display: none; background-color: red;" id="manager" data-set-action="{{ urlFor('app.data.set') }}">
    <div class="elem1">
        <div class="col-lg-4" id="match-id">
            <p>Match</p>
        </div>
        <div class="col-lg-8" id="match-num">
            <p>Select Match on the left</p>
        </div>
    </div>
    <div class="elem2">
        <div class="col-lg-4" id="match-scores">
            <p>Alliance Scores</p>
        </div>
        <div class="col-lg-4" id="match-red">
            <p>Red</p>
        </div>
        <div class="col-lg-4" id="match-blue">
            <p>Blue</p>
        </div>
    </div>
    <div class="elem3">
        <div class="col-lg-4" id="match-scores" data="match-teams">
            <p>Teams</p>
        </div>
        <div class="col-lg-4 score-container">
            <div class="col-lg-4 team-red" id="team-red-1">
                <p>4646</p>
            </div>
            <div class="col-lg-4 team-red" id="team-red-2">
                <p>254</p>
            </div>
            <div class="col-lg-4 team-red" id="team-red-3">
                <p>1114</p>
            </div>
        </div>
        <div class="col-lg-4 score-container">
            <div class="col-lg-4 team-blue" id="team-blue-1">
                <p>4646</p>
            </div>
            <div class="col-lg-4 team-blue" id="team-blue-2">
                <p>254</p>
            </div>
            <div class="col-lg-4 team-blue" id="team-blue-3">
                <p>1114</p>
            </div>
        </div>
    </div>
    <div class="elem4">
        <div class="col-lg-4" id="match-scores" data="match-teams">
            <p>Score A</p>
        </div>
        <div class="col-lg-4 score-container">
            <div class="col-lg-4 team-red" id="score-red-a-1">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-red" id="score-red-a-2">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-red" id="score-red-a-3">
                <p class="dblclick">---</p>
            </div>
        </div>
        <div class="col-lg-4 score-container">
            <div class="col-lg-4 team-blue" id="score-blue-a-1">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-blue" id="score-blue-a-2">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-blue" id="score-blue-a-3">
                <p class="dblclick">---</p>
            </div>
        </div>
    </div>
    <div class="elem5">
        <div class="col-lg-4" id="match-scores" data="match-teams">
            <p>Score B</p>
        </div>
        <div class="col-lg-4 score-container">
            <div class="col-lg-4 team-red" id="score-red-b-1">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-red" id="score-red-b-2">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-red" id="score-red-b-3">
                <p class="dblclick">---</p>
            </div>
        </div>
        <div class="col-lg-4 score-container">
            <div class="col-lg-4 team-blue" id="score-blue-b-1">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-blue" id="score-blue-b-2">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-blue" id="score-blue-b-3">
                <p class="dblclick">---</p>
            </div>
        </div>
    </div>
    <div class="elem6">
        <div class="col-lg-4" id="match-scores" data="match-teams">
            <p>Score C</p>
        </div>
        <div class="col-lg-4 score-container">
            <div class="col-lg-4 team-red" id="score-red-c-1">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-red" id="score-red-c-2">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-red" id="score-red-c-3">
                <p class="dblclick">---</p>
            </div>
        </div>
        <div class="col-lg-4 score-container">
            <div class="col-lg-4 team-blue" id="score-blue-c-1">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-blue" id="score-blue-c-2">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-blue" id="score-blue-c-3">
                <p class="dblclick">---</p>
            </div>
        </div>
    </div>
    <div class="elem7">
        <div class="col-lg-4" id="match-scores" data="match-teams">
            <p>Penalty 1</p>
        </div>
        <div class="col-lg-4 score-container">
            <div class="col-lg-4 team-red" id="penalty-red-a-1">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-red" id="penalty-red-a-2">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-red" id="penalty-red-a-3">
                <p class="dblclick">---</p>
            </div>
        </div>
        <div class="col-lg-4 score-container">
            <div class="col-lg-4 team-blue" id="penalty-blue-a-1">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-blue" id="penalty-blue-a-2">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-blue" id="penalty-blue-a-3">
                <p class="dblclick">---</p>
            </div>
        </div>
    </div>
    <div class="elem8">
        <div class="col-lg-4" id="match-scores" data="match-teams">
            <p>Penalty 2</p>
        </div>
        <div class="col-lg-4 score-container">
            <div class="col-lg-4 team-red" id="penalty-red-b-1">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-red" id="penalty-red-b-2">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-red" id="penalty-red-b-3">
                <p class="dblclick">---</p>
            </div>
        </div>
        <div class="col-lg-4 score-container">
            <div class="col-lg-4 team-blue" id="penalty-blue-b-1">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-blue" id="penalty-blue-b-2">
                <p class="dblclick">---</p>
            </div>
            <div class="col-lg-4 team-blue" id="penalty-blue-b-3">
                <p class="dblclick">---</p>
            </div>
        </div>
    </div>
</div>
<div class="loader">
    <img class="loader-img" src="{{ url.base }}/img/loader.gif">
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/js/jquery.tablesorter.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/js/jquery.tablesorter.widgets.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/js/widgets/widget-filter.min.js" type="text/javascript"></script>
<script src="{{ url.base }}/js/jquery.alterclass.js" type="text/javascript"></script>
<script src="{{ url.base }}/js/app/main.js" type="text/javascript"></script>
{% endblock %}
