{% extends "templates/default.twig" %}

{% block title %}Pre Scouting{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/css/pitPage.css">
{% endblock %}

{% block content %}
<div class="container" id="body-holder" data-team-delete="{{ urlFor('team.remove') }}" data-table-url="{{ urlFor('home.pre.html') }}" data-get-url="{{ urlFor('team.pre') }}" data-call-url="{{ urlFor('team.create') }}">
	<div class="container-main">
        <h1 data-response-url="img/beforeSend.svg" data-success-url="img/success.svg" class="main-header">Hello</h1>
        <p class="lead">Default Page Text Here</p>
    </div>
	<div class="new-team">
		<h3>Scout New Team</h3>
		<form action="{{ urlFor('submit.pre') }}" id="new-team-form" class="col-lg-12 col-sm-12 col-xs-12" role="form" method="post">
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<div class="form-group">
					<label for="teamnames">Team Name</label>
					<input class="form-control" placeholder="Team Name" name="teamnames" id="teamnames" type="text" minlength="2" min="2" required="">
				</div>
				<div class="form-group col-lg-4 col-sm-4 col-xs-4 nopadlt">
					<label for="teamnumbers">Team Number</label>
					<input class="form-control" placeholder="Team Number" name="teamnumbers" id="teamnumbers" type="text" maxlength="5" minlength="2" max="5" min="2" required="">
				</div>
				<div class="form-group col-lg-4 col-sm-4 col-xs-4 nopadlt">
					<label for="website">Website Url</label>
					<input class="form-control" placeholder="Website Url" name="website" id="website" type="url">
				</div>
				<div class="form-group col-lg-4 col-sm-4 col-xs-4 nopadlt">
					<label for="email">Team Email</label>
					<input class="form-control" placeholder="Team Email" name="email" id="email" type="email">
				</div>
				<div class="form-group col-lg-4 col-sm-4 col-xs-4 nopadlt">
					<label for="city">City</label>
					<input class="form-control" placeholder="Orgin City" name="city" id="city" type="text">
				</div>
				<div class="form-group col-lg-4 col-sm-4 col-xs-4 nopadlt">
					<label for="state">State</label>
					<input class="form-control" placeholder="Orgin State" name="state" id="state" type="text">
				</div>
			</div>
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<button type="submit" class="btn btn-info btn-sm">Submit</button>
				<button type="reset" id="clear" class="btn btn-info btn-sm">Clear</button>
			</div>
			<input type="hidden" hidden="hidden" value="{{ csrf_token }}" name="{{ csrf_key }}">
		</form>
	</div>
</div>
{% include "photoModal.twig" %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/app/pre.js"></script>
{% endblock %}