{% extends "templates/default.twig" %}

{% block title %}Team Data{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/css/data.css">
{% endblock %}

{% block content %}
<div id="body-holder" data-get-url="{{ urlFor('team.get') }}" data-match-url="{{ urlFor('team.matches') }}">
	<div class="col-lg-3 col-sm-3 col-xs-3 row">
		<h3>Teams</h3>
		<ul class="form-control row" style="list-style: none;">
			{% for i in teams %}
				<li class="select">
					<button type="button" class="team-select btn btn-default" data-team="{{ i.team_id }}">Team {{ i.team_id }} | {{ i.details.name }}</button>
				</li>
			{% endfor %}
		</ul>
		<div style="font-size: 16pt;" id="search">
			<span class="glyphicon glyphicon-search"></span>
			<span style="font-size: 18pt;">Filter</span>
		</div>
		<div id="search-options" data-search="{{ urlFor('data.sort') }}">
			<p>
				Sort by
				<select class="form-control filter-select" id="select-filter">
					{% for i in fields %}
						<option value="{{ i }}">
							{% for x in i|split("_") %}
								{{ x|title }}
							{% endfor %}
						</option>
					{% endfor %}
				</select>
				Direction
				<select class="form-control filter-select" id="select-filter-dir">
                    <option value="acs">Acsending</option>
                    <option value="desc">Descending</option>
				</select>
			</p>
		</div>
	</div>
	<div class="col-lg-9 col-sm-9 col-xs-9">
		<h3 class="team-name">Please select a team</h3>
		<div class="team-info nodisplay">
			<div class="col-lg-8 col-sm-8 col-xs-8 nopadlt" style="margin-bottom: 25px;">
				<div class="col-lg-2 col-sm-2 col-xs-2 nopadlt">
					<h4 class="border">Team Name</h4>
					<span id="team-name"></span>
				</div>
				<div class="col-lg-2 col-sm-2 col-xs-2 nopadlt">
					<h4 class="border">Team Number</h4>
					<span id="team-number"></span>
				</div>
				<div class="col-lg-2 col-sm-2 col-xs-2 nopadlt">
					<h4 class="border">Bot Type</h4>
					<span id="bot_type"></span>
				</div>
				<div class="col-lg-3 col-sm-3 col-xs-3 nopadlt">
					<h4 class="border">Human Player Rank</h4>
					<span id="hprank"></span>
				</div>
				<div class="col-lg-12 col-sm-12 col-xs-12 nopadlt">
					<h4>Defenses:</h4>
					<div id="bot_type">
						<button class="btn btn-info toggle-defense {% if isMobile %}btn-sm{% endif %}" id="team-portcullis" disabled="">Porticulls</button>
		                <button class="btn btn-info toggle-defense {% if isMobile %}btn-sm{% endif %}" id="team-cheval_de_frise" disabled="">Cheval de Frise</button>
		                <button class="btn btn-info toggle-defense {% if isMobile %}btn-sm{% endif %}" id="team-moat" disabled="">Moat</button>
		                <button class="btn btn-info toggle-defense {% if isMobile %}btn-sm{% endif %}" id="team-ramparts" disabled="">Ramparts</button>
		                <button class="btn btn-info toggle-defense {% if isMobile %}btn-sm{% endif %}" id="team-drawbridge" disabled="">Drawbridge</button>
		                <button class="btn btn-info toggle-defense {% if isMobile %}btn-sm{% endif %}" id="team-sally_port" disabled="">Sally Port</button>
		                <button class="btn btn-info toggle-defense {% if isMobile %}btn-sm{% endif %}" id="team-rock_wall" disabled="">Rock Wall</button>
		                <button class="btn btn-info toggle-defense {% if isMobile %}btn-sm{% endif %}" id="team-rough_terrain" disabled="">Rought Terrain</button>
		                <button class="btn btn-info toggle-defense {% if isMobile %}btn-sm{% endif %}" id="team-low_bar" disabled="">Low Bar</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-4 col-xs-4 pull-right">
				<h4>Comments</h4>
				<ul id="team-comments"></ul>
			</div>
			<div class="col-lg-6 col-sm-6 col-xs-6">
				<h4>Matches Played</h4>
				<div class="table-responsive">
					<table class="table" id="matches-played">
						<thead>
							<tr>
								<th>Match</th>
								<th colspan="6">Red Alliance</th>
								<th colspan="6">Blue Alliance</th>
								<th>Red Score</th>
								<th>Blue Score</th>
								<th>Team Score</th>
							</tr>
						</thead>
						<tbody class="">
							<tr class="model-table-row nodisplay" id="copy-id">
								<td class="match">-1</td>
								<td class="red1" colspan="2" style="border: 1px solid #ddd; background-color: #fee;">-1</td>
								<td class="red2" colspan="2" style="border: 1px solid #ddd; background-color: #fee;">-1</td>
								<td class="red3" colspan="2" style="border: 1px solid #ddd; background-color: #fee;">-1</td>
								<td class="blue1" colspan="2" style="border: 1px solid #ddd; background-color: #eef;">-1</td>
								<td class="blue2" colspan="2" style="border: 1px solid #ddd; background-color: #eef;">-1</td>
								<td class="blue3" colspan="2" style="border: 1px solid #ddd; background-color: #eef;">-1</td>
								<td class="redscore" style="background-color: #fdd;">-1</td>
								<td class="bluescore" style="background-color: #ddf;">-1</td>
								<td class="teamscore">-1</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-6 col-sm-6 col-xs-6">
				<div class="col-lg-3 col-sm-3 col-xs-3 nopadlt">
					<h4 class="border">Average Score</h4>
					<span id="avg_score"></span>
				</div>
				<div class="col-lg-3 col-sm-3 col-xs-3 nopadlt">
					<h4 class="border">Highest Score</h4>
					<span id="max_score"></span>
				</div>
				<div class="col-lg-3 col-sm-3 col-xs-3 nopadlt">
					<h4 class="border">Lowest Score</h4>
					<span id="min_score"></span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/app/team.js"></script>
{% endblock %}
