<div id="al-teams" class="table-responsive">
	<h4>Already Scouted Teams</h4>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Team Number</th>
				<th>Team Name</th>
				<th class="b_type">Bot Type</th>
				<th>Actions</th>
			</tr>
		</thead>
	    <tbody class="in collapse" id="collapsible">
	      	{% for i in teams %}
				<tr class="clickable" data-team-id="{{ i.id }}" data-type="parent" data-nonce="{{ i.nonce }}">
					<td>{{ i.id }}</td>
					<td>{{ i.details.name|title }}</td>
					<td class="b_type">{{ i.details.bot_type|capitalize }}</td>
					<td>
						<button type="button" class="btn btn-warning btn-xs clickable">Edit</button>
						<button type="button" class="btn btn-danger btn-xs deletable">Delete</button>
					</td>
				</tr>
			{% endfor %}
	    </tbody>
	</table>
	<button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#collapsible">Collapse</button>
</div>