{% if entries is not empty %}
<div class="table-responsive limit-height table-holder">
<select id="filter" class="pull-left">
  <option value="all">All Matches</option>
  <option value="up">Upcoming Matches</option>
  <option value="old">Played Matches</option>
</select>
<table class="table table-striped limit-height tablesorter" id="match-table" data-response-url="{{ urlFor('app.data.get') }}">
  <thead>
    <tr>
      <th id="match-header">Match</th>
      <th id="matchtime-header">Matchtime</th>
      <th id="red1-header">Red1</th>
      <th id="red2-header">Red2</th>
      <th id="red3-header">Red3</th>
      <th id="blue1-header">Blue1</th>
      <th id="blue2-header">Blue2</th>
      <th id="blue3-header">Blue3</th>
      <th id="bluescore-header">Blue Score</th>
      <th id="redscore-header">Red Score</th>
    </tr>
  </thead>
  <tbody>
{% for i in entries %}
      <tr data-row-number="{{ loop.index }}" class="body-row">
          <td id="match">{{ i.match }}</td>
          <td id="matchtime">{{ i.matchtime }}</td>
          <td id="red1">{{ i.red1 }}</td>
          <td id="red2">{{ i.red2 }}</td>
          <td id="red3">{{ i.red3 }}</td>
          <td id="blue1">{{ i.blue1 }}</td>
          <td id="blue2">{{ i.blue2 }}</td>
          <td id="blue3">{{ i.blue3 }}</td>
          <td id="bluescore">{{ i.bluescore }}</td>
          <td id="redscore">{{ i.redscore }}</td>
      </tr>
{% endfor %}
  </tbody>
</table>
<span hidden="hidden" style="display: none;" id="{{ csrf_token }}" data-name="{{ csrf_key }}" class="csrf_token"></span>
</div>
{% else %}
<div class="data-failed">Connection to the spreadsheet failed or no information was found</div>
{% endif %}
